 
 /*NAV BAR */

 /*Add a white background color to the top navigation */

.topnav {
    background-color: transparent;
    overflow: hidden;
}

 /*Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Hind', sans-serif;
}

 /*Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
#home{

    background-image: url('leaves.jpg');
    height: 50%;

     /*Position and center the image to scale nicely on all screens */
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*Find a health clinic*/
.HeaderTitle{
        padding-top: 150px;
        font-family: 'Quicksand', sans-serif;
        font-size: 50px;
        text-align: center;
}

.HeaderTitle p{
        font-size: 20px;
        font-style: italic;
}


/*Search box*/
.searchBox{
    width: 100%;
    text-align:center;
    padding-top: 90px;
    padding-bottom: 300px;
}

/*submit bottom*/
.searchBox #submit{
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#text{
    margin-top: 30px;
}


input{

        position: center;
}

input[type=text] {
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('magnify.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/*--------MAP Content------------*/
 #mapContent{
display:table; 
width:100%;
padding-top: 30px;
}
.column {

display:table-cell;
width:80%;
background:#ccc;
padding:0 20px;
}
.two {
background:yellow;
}
/*Map*/
 #map {
        height: 100%;
        width: 100%;
       }
